* {
  box-sizing: border-box;
  margin: 0 auto; padding: 0;
  touch-action: manipulation;
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

:root{
  --green: #3ec335;
  --yellow: #fecb69;
  --black: #29272d;
  --grey: #bfbfbf;
  --dark-grey: #454545;
  --primary: #80a2ad;
  --secondary: #dc8d78;
  --tile-size: 60px;
  --grid-gap: 5px;
  --width: calc(3 *var(--tile-size) + 2 * var(--grid-gap));
}

html{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  text-align: center;
}

#app{
  font-family: sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-bottom: 100px;
}

#app[data-darkMode]{
  background: var(--black);
}

header,footer{
  width: var(--width);
  margin: 0 auto;
}

main{
  width: calc(1.8*var(--width));
  margin: 0 auto;
}

h1{
  text-transform: uppercase;
  letter-spacing: 0.069em;
  font-size: calc(0.69*var(--tile-size));
  display: inline-block;
  color: var(--primary);
  line-height: 1;
}

header{
  border-bottom: 1px solid var(--primary);
  padding-bottom: 2px;
  margin-bottom: 6px;
}

h2{
  color: var(--secondary);
  font-size: 20px;
  text-transform: uppercase;
}

h3{
  color: var(--primary);
  font-size: 18px;
  text-transform: uppercase;
  padding: 4px;
}

p{
  color: var(--black);
  margin: 10px auto;
  line-height: 1.2;
}

button{
  background: var(--primary);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
  width: var(--width);
  font-size: 18px;
  font-weight: bold;
}

button:hover{
  background: var(--secondary)
}

#feedback{
  font-size: 24px;
  color: var(--primary);
  margin: 4px auto;
}

#guesses{
  display: grid;
  grid-gap: var(--grid-gap);
  margin: auto;
  font-weight: bold;
}

#guesses .row, .guesses .row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--grid-gap);
  width: var(--width);
}

#guesses .row div, .guesses .row div{
  text-align: center;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
  width: var(--tile-size);
  height: var(--tile-size);
  font-size: 24px;
  border-radius: 50%;
}

.row div.grey{
  background: --var(grey);
  border: var(--grey) 2px solid;
}

.row div.green{
  color: white;
  background: var(--green);
  border-color: var(--green);
}

.row div.yellow{
  color: white;
  background: var(--yellow);
  border-color: var(--yellow);
}

.row div.black{
  color: white;
  background: var(--black);
  border-color: white;
}

#keyboard{
  display: grid;
  grid-template: "a b c" 1fr
                 "d e f" 1fr
                 "g h i" 1fr
                 "j k l" 1fr;
  grid-gap: var(--grid-gap);
  margin: 0 auto;
  width: var(--width);
}

#key-0{
  grid-area: k;
}

#keyboard button{
  border: none;
  color: var(--black);
  width: var(--tile-size);
  height: var(--tile-size);
  font-size: 24px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  padding: 0;
  margin: 0;
}

#keyboard button:active, #app[data-darkMode] #keyboard button:active{
  background: var(--dark-grey);
  color: white;
}

#keyboard .green{
  background: var(--green);
  color: white;
}

#keyboard .yellow{
  background: var(--yellow);
  color: white;
}

#keyboard .black{
  background: var(--black);
  color: white;
}

#keyboard .functional{
  font-size: 12px;
}

.scores{
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  margin: 0;
}

.scores p{
  margin: 0;
  line-height: 1;
}

#app .scores p{
  color: var(--secondary);
}

#app[data-darkMode] .scores p{
  color: var(--primary);
}

.hidden{
  visibility: hidden;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--grid-gap);
  margin-bottom: 50px;
}

footer button{
  background: var(--secondary);
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: var(--tile-size);
  height: var(--tile-size);
}

footer button:hover{
  background: var(--primary);
  cursor: pointer;
}

#stats{
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
  width: var(--width);
}

#bars{
  display: grid;
  grid-template-columns: repeat(20,1fr);
  gap: 10px 0;
  justify-content: start;
  margin: 10px 0;
}

#bars .guess-number{
  grid-column: 1/3;
}

#bars .stat{
  width:100%;
  height: 20px;
  background-color: var(--green);
  color: white;
  font-size: 14px;
  text-align: right;
  padding-bottom: 4px;
  padding-right: 4px;
  border-radius: 0 4px 4px 0;
}

#stats .played-stat{
  grid-column: 1/20;
  text-align: left;
}

#app[data-darkMode]{
  background: var(--black);
}

#app[data-darkMode] h1{
  color: var(--secondary);
}

#app[data-darkMode] h2{
  color: var(--primary);
}

#app[data-darkMode] h3{
  color: var(--secondary);
}

#app[data-darkMode] .scores{
  color: var(--primary);
}

#app[data-darkMode] header{
  border-color: var(--secondary);
}

#app[data-darkMode] #keyboard button{
  background: var(--grey);
}

#app[data-darkMode] #keyboard button.green{
  background: var(--green);
  color: white;
}

#app[data-darkMode] #keyboard button.green:active, #app[data-darkMode] #keyboard button.yellow:active
{
  background: var(--dark-grey);
}

#app[data-darkMode] #keyboard button.black:active
{
  background: var(--grey);
}

#app[data-darkMode] #keyboard button.yellow{
  background: var(--yellow);
  color: white;
}

#app[data-darkMode] #keyboard button.black, #app[data-darkMode] #guesses .row div.black, .guesses .row div.black{
  background: var(--dark-grey);
  color: white;
}

#app[data-darkMode] #guesses .row div{
  color: var(--grey);
}

#app[data-darkMode] #guesses .row div.green,#app[data-darkMode] #guesses .row div.yellow{
  color: white;
}

#app[data-darkMode] button{
  color: var(--black);
  background: var(--secondary);
}

#app[data-darkMode] button:hover{
  background: var(--primary);
}

#app[data-darkMode] #feedback{
  color: var(--secondary);
}

#app[data-darkMode] footer button{
  background: var(--primary);
}

#app[data-darkMode] footer button:hover{
  background: var(--secondary);
}

#app[data-darkMode] p{
  color: white
}

#app[data-darkMode] #stats{
  color: white;
}